* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
font-family: 'Segoe UI', sans-serif;
  background-image: url('./images/apexplanet.png');
  background-repeat: no-repeat;
  background-size:auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
  color: red;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  padding: 40px;
}

section {
  background: rgb(88, 161, 186);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, textarea, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
}

ul {
  margin-top: 10px;
}

li {
  background: #e0ffe0;
  padding: 10px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}

li button {
  background: red;
  color: white;
  border: none;
  padding: 5px;
}

.gallery-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
}

.gallery-grid img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  position: relative;
  border: 2px solid #ccc;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container button {
  position: absolute;
  top: -10px;
  right: -10px;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
